# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/dist
/build

# Debug logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage
.nyc_output

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
